<section class="outter option1">
<section class="video-container">
  <video class = "video" src="./images/logos/boat.mp4" autoplay loop playsinline muted></video>
  <div class="callout">
    <div class="logoSalus">
        <img src="./images/logos/Salus.png" >
    </div>
    <div class="desc">YOUR PERSONAL REAL ESTATE AGENCY</div>
  </div>
  
  </div>
</section>
</section>
