
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="3v_lSfar41pcCP_9EsMtvDvjKGXYkmJn7HFcTuqV1fs" />
    <meta name="description" content="Looking for your dream property? Look no further than Salus Real Estate. Worldwide, only the best locations for Villas | Building plots/projects | rentable options">
    
    
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/overlay.css">
    

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/wsu0bgq.css">
    

    <title>Salus Real Estate - Best properties </title> {{!--Enter your company name--}}

</head>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-L7TSVPJZH9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L7TSVPJZH9');
</script>