<div class="bottomBar" id="license">
    <table class="bottomBarPrimaryTable">
        <tr class="firstRow">

            <td>
                <div class="bottomContactCard">
                    <table>
                        <tr>
                            <td>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z" fill="currentColor" /></svg>
                            </td>
                            <td>
                                <p>EMAIL</p>
                                <p>info@salusrealestate.com</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div class="bottomContactCard">
                    <table>
                        {{!-- <tr>
                            <td>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 16H11V18H13V16Z" fill="currentColor" /><path fill-rule="evenodd" clip-rule="evenodd" d="M5 4C5 2.89543 5.89543 2 7 2H17C18.1046 2 19 2.89543 19 4V20C19 21.1046 18.1046 22 17 22H7C5.89543 22 5 21.1046 5 20V4ZM7 4H17V20H7L7 4Z" fill="currentColor" /></svg>
                            </td>
                            <td>
                                <p>TEL</p>
                                <p>+49(123)456-78-90</p>
                            </td>
                        </tr> --}}
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="bottomContactCard">
                    <table>
                        <tr>
                            <td>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19 7H17C17 4.79086 15.2091 3 13 3C10.7909 3 9 4.79086 9 7V10H18C19.6569 10 21 11.3431 21 13V19C21 20.6569 19.6569 22 18 22H6C4.34315 22 3 20.6569 3 19V13C3 11.3431 4.34315 10 6 10H7V7C7 3.68629 9.68629 1 13 1C16.3137 1 19 3.68629 19 7ZM18 12H6C5.44772 12 5 12.4477 5 13V19C5 19.5523 5.44772 20 6 20H18C18.5523 20 19 19.5523 19 19V13C19 12.4477 18.5523 12 18 12Z" fill="currentColor" /></svg>                            </td>
                            <td>
                                <a href="/privacyPolicy">Privacy Policy</a>
                            </td>
                        </tr>
                    </table>

                </div>
            </td>
            <td>
                <div class="bottomContactCard">
                    <table>
                        <tr>
                            <td>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 11C7.44772 11 7 11.4477 7 12C7 12.5523 7.44772 13 8 13H15.9595C16.5118 13 16.9595 12.5523 16.9595 12C16.9595 11.4477 16.5118 11 15.9595 11H8Z" fill="currentColor" /><path d="M8.04053 15.0665C7.48824 15.0665 7.04053 15.5142 7.04053 16.0665C7.04053 16.6188 7.48824 17.0665 8.04053 17.0665H16C16.5523 17.0665 17 16.6188 17 16.0665C17 15.5142 16.5523 15.0665 16 15.0665H8.04053Z" fill="currentColor" /><path fill-rule="evenodd" clip-rule="evenodd" d="M5 3C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H5ZM7 5H5L5 19H19V5H17V6C17 7.65685 15.6569 9 14 9H10C8.34315 9 7 7.65685 7 6V5ZM9 5V6C9 6.55228 9.44772 7 10 7H14C14.5523 7 15 6.55228 15 6V5H9Z" fill="currentColor" /></svg>
                            </td>
                            <td>
                                <a href="/tc">Terms and Conditions</a> 
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div class="bottomContactCard">
                    <table>
                        <tr>
                            <td>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z" fill="currentColor" /><path fill-rule="evenodd" clip-rule="evenodd" d="M12 3C12.5523 3 13 3.44772 13 4V5.07089C16.0657 5.5094 18.4906 7.93431 18.9291 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H18.9291C18.4906 16.0657 16.0657 18.4906 13 18.9291V20C13 20.5523 12.5523 21 12 21C11.4477 21 11 20.5523 11 20V18.9291C7.93431 18.4906 5.5094 16.0657 5.07089 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H5.07089C5.5094 7.93431 7.93431 5.5094 11 5.07089V4C11 3.44772 11.4477 3 12 3ZM7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12Z" fill="currentColor" /></svg>
                            </td>
                            <td>
                                <a href="/imprint">Imprint</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <div class="bottomBarMobile">
        <div class="bottomBarListItem">
            <div class="bottomBarListMobileText">
                <p>EMAIL</p>
                <p>info@salusrealestate.com</p>
            </div>
        </div>
        <div class="bottomBarListItem">
            {{!-- <div class="bottomBarListMobileText">
                <p>TEL</p>
                <p>+49(123)456-78-90</p>
            </div> --}}
        </div>
        <div class="bottomBarListItem">
            <div class="bottomBarListMobileText">
                <a href="/privacyPolicy">Privacy Policy</a>
                <a href="/tc">Terms and Conditions</a> 
                <a href="/imprint">Imprint</a>
            </div>
        </div>

    </div>
    
    <div id="finalWrapper">
        <p>Salus© Real Estate 2022 | All rights reserved</p>
    </div>    
</div>


<script type="text/javascript">
    var userLang = localStorage.language
    if (!userLang) {
        userLang = navigator.language || navigator.userLanguage;
        localStorage.language = userLang;
    }
    console.log(userLang);
    translator(userLang);

    function langSelect(){
        userLang = document.getElementById("lang").value;
        localStorage.language = userLang;
        translator(userLang);
    }

    function personDataSaver() {
        let person = {
            object: document.getElementById("object").value,
            name: document.getElementById("name").value,
            email: document.getElementById("email").value,
            tel: document.getElementById("tel").value
        }
        localStorage.setItem('person', JSON.stringify(person));
    }

    function translator(userLang) {
        if (userLang == "de-DE") {
            //nav menu
            document.getElementById("homeNav").innerHTML = "Home";
            document.getElementById("landsNav").innerHTML = "Projekte";
            document.getElementById("vilNav").innerHTML = "Villen";
            document.getElementById("rentNav").innerHTML = "Miete";
            document.getElementById("aboutNav").innerHTML = "Über uns";

            //main page
            document.getElementById("desc").innerHTML = "IHRE PERSÖNLICHE IMMOBILIENAGENTUR";
            document.getElementById("optionsTableHeader").innerHTML = "UNSERE IMMOBILIEN";
            document.getElementById("sale").innerHTML = "Zu verkaufen";
            document.getElementById("rent").innerHTML = "Miete";
            document.getElementById("plots").innerHTML = "Projekte";

            document.getElementById("optionsFlipHeader").innerHTML = "UNSERE ANGEBOTE";
            document.getElementById("carefree").innerHTML = "Rundum-Sorglos-Paket";
            document.getElementById("carefreeText").innerHTML = "•	•	Beim Erwerb einer Immobilie oder eines Grundstücks, unterstützen wir Sie bei den nötigen Behördengängen. Unser Team spricht nicht nur fließend Thai, sondern auch Englisch, Deutsch und Russisch. <br> <br>•	Beim Bau einer Immobilie hält Sie Ihr zuständiger Ansprechpartner in vereinbarten Abständen mit Fotos vom Baufortschritt auf dem Laufenden <br> <br>•	Die Kaufpreiszahlung erfolgt nach dem jeweils aktuellen Baustand. <br> ";
            document.getElementById("services").innerHTML = "Service";
            document.getElementById("servicesText").innerHTML = "•		Die wöchentliche Wartung und Pflege des Hauses von außen und innen. <br> <br>•	 Poolpflege <br> <br>•		Wäscheservice <br> <br>•		Und sollten Sie die Immobilie nicht für sich selbst nutzen, sondern vermieten wollen, dann organisieren wir die Schlüsselübergabe an 'Friends & Family' und Feriengäste 24/7.";
            document.getElementById("langSelect").innerHTML = "Sprache einstellen";
        }
        else if (userLang == "ru" || userLang == "ru-RU") {
            //nav menu
            document.getElementById("homeNav").innerHTML = "Главная";
            document.getElementById("landsNav").innerHTML = "Проекты";
            document.getElementById("vilNav").innerHTML = "Виллы";
            document.getElementById("rentNav").innerHTML = "Аренда";
            document.getElementById("aboutNav").innerHTML = "О нас";

            //main page
            document.getElementById("desc").innerHTML = "ВАШЕ ПЕРСОНАЛЬНОЕ АГЕНТСТВО НЕДВИЖИМОСТИ";
            document.getElementById("optionsTableHeader").innerHTML = "НАША НЕДВИЖИМОСТЬ";
            document.getElementById("sale").innerHTML = "На продажу";
            document.getElementById("rent").innerHTML = "Аренда";
            document.getElementById("plots").innerHTML = "Проекты";

            document.getElementById("optionsFlipHeader").innerHTML = "НАШИ ПРЕДЛОЖЕНИЯ";
            document.getElementById("carefree").innerHTML = "Сервис 'Carefree'";
            document.getElementById("carefreeText").innerHTML = "•	При покупке недвижимости или земельного участка мы оказываем вам поддержку в прохождении необходимых официальных процедур. Наши сотрудники свободно владеют не только тайским, но и английским, немецким и русским языком. <br> <br> •	Во время строительства недвижимости ваш координатор будет информировать вас о ходе строительства через оговоренные промежутки времени. <br> <br>•	Покупная цена выплачивается в соответствии с текущим состоянием строительства.";
            document.getElementById("services").innerHTML = "Услуги";
            document.getElementById("servicesText").innerHTML = "•	Еженедельное обслуживание и уход за домом снаружи и внутри. <br> <br>•	Уход за бассейном <br> <br>•	Услуги прачечной <br> <br>•	А если вы не хотите использовать дом для себя, а сдаете его в аренду, мы организуем передачу ключей &#171друзьям и родственникам&#187 и отдыхающим гостям 24/7.";
            document.getElementById("langSelect").innerHTML = "Выберите язык";
        }
        else if (userLang == "en-US") {
            document.getElementById("homeNav").innerHTML = "Home";
            document.getElementById("landsNav").innerHTML = "Projects";
            document.getElementById("vilNav").innerHTML = "Villas";
            document.getElementById("rentNav").innerHTML = "Rent";
            document.getElementById("aboutNav").innerHTML = "About Us";

            //main page
            document.getElementById("desc").innerHTML = "YOUR PERSONAL REAL ESTATE AGENCY";
            document.getElementById("optionsTableHeader").innerHTML = "OUR PROPERTIES";
            document.getElementById("sale").innerHTML = "For sale";
            document.getElementById("rent").innerHTML = "Rent";
            document.getElementById("plots").innerHTML = "Projects/Plots";

            document.getElementById("optionsFlipHeader").innerHTML = "OUR OFFERS";
            document.getElementById("carefree").innerHTML = "Carefree Package";
            document.getElementById("carefreeText").innerHTML = "•	When purchasing a property or a plot of land, we support you with the necessary official procedures. Our team is not only fluent in Thai, but also in English, German and Russian.<br><br>•	During the construction of a property, your responsible contact person will keep you up to date with photos of the construction progress at agreed intervals. <br><br>•	The purchase price is paid according to the current state of construction.<br>";
            document.getElementById("services").innerHTML = "Services";
            document.getElementById("servicesText").innerHTML = "•	Weekly maintenance and care of the house from the outside and inside.<br><br>•	Pool maintenance<br><br>•	Laundry service<br><br>•	And if you do not want to use the property for yourself, but rent it out, we organise the handing over of the keys to 'Friends & Family' and holiday guests 24/7.";
            document.getElementById("langSelect").innerHTML = "Set language";
        }   
        else { }
    }
</script>

