<div class="card">  
  <details class="warning">
    <summary>О нас</summary>
    <p>Наша компания верит, что сегодня любой клиент заслуживает качественного и быстрого обслуживания. Именно поэтому мы сделали этот сайт, 
      в надежде, что он окажется простым и понятным любому, а наше обслуживание оставит только положительные эмоции.</p> 
    <p>Имея большой опыт в оптовых поставказ, мы надеемся преуспеть и на розничном рынке. Спасибо Вам, дорогой клиент, что выбрали нас. </p> 
  </details>
  
  <details class="info" >
    <summary>О приватности</summary>
    <p>Ваши данные хранятся в зашифрованном виде.</p>
    <p>Ваши данные не передаются третьим лицам, нашим бизнес партнёрам и рекламным агентствам.</p>
    <p>После выполнения заказа ваши данные обезличиваются и не обрабатываются внутри нашей компании.</p>
    <p>Вы можете потребовать удалить данные о вашем заказе после его выполнения.</p>
  </details>
  
  <details class="alert">
    <summary>Об условиях</summary>
    <p>Работаем по Москве и области </p> 
    <p>Бесплатная доставка </p> 
    <p>Гарантия 12 месяцев </p> 
  </details>
</div>

{{> review}}