<div class="review" id="review">
  <br>
  {{!-- <h1>Отзывы</h1> --}}
  <div class="slider-container">
              <div class="slides">
                {{!-- <div id="slides__1" class="slide"> --}}
                  {{!-- <div class="container2">
                    <img src="images/person.png" alt="Avatar">
                    <p><span> </span></p>
                    <p> </p>
                  </div>--}}
                 
              </div>
              <div class="slider__nav">
                <a class="slider__navlink" href="#slides__1"></a>
                <a class="slider__navlink" href="#slides__2"></a>
                {{!-- <a class="slider__navlink" href="#slides__3"></a>
                <a class="slider__navlink" href="#slides__4"></a>
                <a class="slider__navlink" href="#slides__5"></a> --}}
              </div>
  </div>
      <h2>Остались вопросы?</h2>   
      <br>
      <button class="mailto_button">
      <a href="mailto: public.techco.store@gmail.com?subject=Отзыв">
        Напишите нам</a>
      </button>
    <br><br>
</div>
