<div id="carousel">
    <a href="#popup11">
      <div class="item">
        <h6>iPhone 13 Pro</h6>
        <div class = "image">
            <img src="./images/iPhones/img13p.png">
         </div>
        <h6>От 109990₽</h6>
        <button><a class="button" href="#popup11"> Выбрать </a></button>
        <div id="popup11" class="overlay">
            <div class="popup">
                <div class="input_form">
                    <form class="go-bottom" action="/#popup2" method="post">
                      <p>Заполните данные</p>
                      
                      <div>
                        <div class="selector">
                          <span><p>Память</p></span>
                              <select name="memory" id="memory" > <!--Supplement an id here instead of using 'name'-->
                                <option value="iPhone 13 Pro 128" selected> 128GB - 109990₽ </option>
                                <option value="iPhone 13 Pro 256" > 256GB - 121990₽</option>
                                <option value="iPhone 13 Pro 512"> 512GB - 150990₽</option>
                                <option value="iPhone 13 Pro 1024"> 1TB - 172990₽</option>
                              </select>
                        </div>
                        
                        <div class="selector">
                          <span><p>Цвет</p></span>
                              <select name="color" id="color" > <!--Supplement an id here instead of using 'name'-->
                                <option value="SierraBlue" selected> Sierra Blue</option>
                                <option value="Graphite" > Graphite</option>
                                <option value="Silver"> Silver</option>
                                <option value="Gold"> Gold</option>
                                <option value="AlpineGreen"> Alpine Green "NEW"</option>
                              </select>
                        </div>
                      </div>
                      <br>
                      <div>
                        <input id="email" name="email" type="text" required>
                        <label for="email">Ваш Email</label>
                      </div>
                      <div>
                        <input id="tel" name="tel" type ="tel" required>
                        <label for="tel">Номер телефона</label>
                      </div>
                      <div>
                        <input id="message" name="message" type="text" required>
                        <label for="message">Aдрес доставки</label>
                      </div>
                      <br>
                      <input class="nxt_stp_btn" type="submit" value="Купить">
                    </form>
                    <button><a href="#">Отмена</a></button>
                    <a href="#"><div class="cl-btn-7"></div></a>
                    <br>
                    </div>
                  </div>
                </div>
                <div id="popup2" class="overlay">
                  <div class="popup">
                    <h1 class="site-header__title" data-lead-id="site-header-title">Заказ принят!</h1>
                    <img src="/images/popup2.png">
                    <h6 class="site-footer__fineprint" id="fineprint">Наши операторы скоро с Вами свяжутся.</h6>
                    <h6>Спасибо, что выбрали нас! </h6>
                   <button><a href="#">Закрыть</a></button>
                  </div>
                </div>
      </div>
    </a>

    <a href="#popup10002">
      <div class="item">
        <h6>AirPods Pro</h6>
            <div class = "image">
                <img src="./images/AirPods/pro2.png">
            </div>
            <h6>21990₽</h6>
            <button><a class="button" href="#popup10002"> Выбрать </a></button>
            <div id="popup10002" class="overlay">
                  <div class="popup">
                    <div class="input_form">
                    <form class="go-bottom" action="/#popup2" method="post">
                      <p>Заполните данные</p>
                      <br>
                      <div>
                        <div class="selector">
                              <select name="memory" id = "memory"> <!--Supplement an id here instead of using 'name'-->
                                <option value="AirPods Pro" selected> AirPods Pro - 21990₽ </option>
                              </select>
                        </div>
                      </div>
                      <br>
                      <div>
                        <input id="email" name="email" type="text" required>
                        <label for="email">Ваш Email</label>
                      </div>
                      <div>
                        <input id="tel" name="tel" type ="tel" required>
                        <label for="tel">Номер телефона</label>
                      </div>
                      <div>
                        <input id="message" name="message" type="text" required>
                        <label for="message">Aдрес доставки</label>
                      </div>
                      <br>
                      <input class="nxt_stp_btn" type="submit" value="Купить">
                    </form>
                    <button><a href="#">Отмена</a></button>
                    <a href="#"><div class="cl-btn-7"></div></a>
                    <br>
                    </div>
                <br>
                </div>
            </div>
      </div>
    </a>

    <a href="#popup141">
              <div class = "item">
              <h6>iPhone 11</h6>
                <div class = "image">
                  <img src="./images/iPhones/img11VL.png">
                </div>
                <h6>От 59990₽</h6>
                <button><a class="button" href="#popup141"> Выбрать </a></button>
                <div id="popup141" class="overlay">
                  <div class="popup">
                    <div class="input_form">
                    <form class="go-bottom" action="/#popup2" method="post">
                      <p>Заполните данные</p>
                      <br>
                      <div>
                        <div class="selector">
                          <span><p>Память</p></span>
                              <select name="memory" id="memory" > <!--Supplement an id here instead of using 'name'-->
                                <option value="iPhone 11 64" selected> 64GB - 59990₽</option>
                                <option value="iPhone 11 128" > 128GB - 67990₽</option>
                              </select>
                        </div>
                        <br>
                        <div class="selector">
                          <span><p>Цвет</p></span>
                              <select name="color" id="color" > <!--Supplement an id here instead of using 'name'-->
                                <option value="White" selected> White</option>
                                <option value="Black" > Black</option>
                                <option value="Blue"> Yellow</option>
                                <option value="Violet"> Violet</option>
                                <option value="Product(RED)"> Product(RED)</option>
                                <option value="Green"> Green </option>
                              </select>
                        </div>
                      </div>

                      <br>
                      <div>
                        <input id="email" name="email" type="text" required>
                        <label for="email">Ваш Email</label>
                      </div>
                      <div>
                        <input id="tel" name="tel" type ="tel" required>
                        <label for="tel">Номер телефона</label>
                      </div>
                      <div>
                        <input id="message" name="message" type="text" required>
                        <label for="message">Aдрес доставки</label>
                      </div>
                      <br>
                      <input class="nxt_stp_btn" type="submit" value="Купить">
                    </form>
                    <button><a href="#">Отмена</a></button>
                    <a href="#"><div class="cl-btn-7"></div></a>
                    <br>
                    </div>
                  </div>
                </div>
            </div>
    </a>
</div>