  {{> navbar}}
<div class="headerMobile">
    <h1 id="aboutHeadMobile">About Us</h1>
</div>
<div class="headerDesktop">
    <section class="outter option1">
        <section class="video-container">
        <img class = "video" src="./images/about.jpg">
        <div class="callout">
            <div class="desc" id="aboutHeadDesktop">ABOUT OUR COMPANY</div>
        </div>
        </section>
    </section>
</div>

<div class="optionsTableHeader _anim-items">
        <h1 id = "welcomeTextHeader">Welcome <br> to TTHomes!</h1>
    </div>

    <div class="item _anim-items">
        <h4 id="item1">
            <br>
            We are your professional real estate agency. 
            <br><br>
            Are you looking for help with the sale, purchase, maintenance and care or even the rental of a property in Alania?
            <br><br>
            Our team speaks fluent Turkish, English, German and Russian.
            <br><br>
            We are your qualified and personal contact!
            <br><br>
        </h4>
    </div>

    <div class="item _anim-items">
        <div class='row'>
            <div class='column'>
                <img src="./images/ph.jpeg">
            </div>
            <div class='column'>
                <h3>Our Philosophy</h3>
                <h4 id="item11">
                    <br><br>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    <br><br>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of 
                    type and scrambled it to make a type specimen book.
                    <br><br>
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    <br><br>
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </h4>
            </div>
        </div>
    </div>

    <div class="item _anim-items">
        <div class='row'>
            <div class='column'>
                <img src="./images/3732500.jpg">
            </div>
            <div class='column'>
                <h4 id="item2">
                    <br>
                    Are you finding it difficult to find your dream property?
                    <br> <br><br>
                    We have your tailored solutions. 
                    <br> <br>
                    We specialize in high-quality real estate and can offer you a unique all-round aeonic support thanks to many years of experience in this sector. 
                    <br> <br>
                    From buying an existing property, finding the right building plot or construction to moving in, we are always at your side with full competence.
                    <br> <br>
                </h4>
            </div>
        </div>


    </div>

    <div class="item _anim-items">
        <div class='row'>
            <div class='column'>
                <img src="./images/flag.jpg">
            </div>
            <div class='column'>
                <h3>Why invest in Turkey?</h3>
                <h4 id="item3">
                    <br><br><br>
                    <li>	Investors can receive rental yields of approx. 8-10 % in Turkey.</li><br>
                    <li>	The occupancy rate of Alania properties is 80-90% in holiday rentals throughout the year.</li><br>
                    <li>	Turkey has a rapid economic growth. </li><br>
                    <li>	Investment volume in Turkey real estate in 2021 grew by more than five times the volume in 2020</li><br>
                </h4>
            </div>
        </div>
    </div>
    <br><br>
    <div>
        <h4 id="item4">
            We can't wait to help you make your real estate dreams come true.
        </h4>

    </div>
    <br><br>