{{>navbar}}
<div class="headerMobile">
    <h1> Privacy Policy </h1>
</div>
<div class="headerDesktop">
    <section class="outter option1">
        <section class="video-container">
        <img class = "video" src="./images/pp.jpeg">
        <div class="callout">
            <div class="desc" >OUR PRIVACY POLICY</div>
        </div>
        </section>
    </section>
</div>


<div class="legalInfo">
    <p>At Salus Real Estate, we take the protection of your data very seriously. In this privacy statement, we inform you about the data we collect from you and how we use this data. Please take the time to read this statement carefully.
    If you have any questions about our privacy policy, you can contact us at any time. You will find our contact details at the end of this statement. </p>

    <h2>1. What data do we collect?</h2>
    <p>We collect, process and store data that you provide to us when you visit our website, use our services or contact us.</p> 
    <p>The data we collect includes, for example:</p>
    <li>Contact details such as name, address, email address and telephone number</li>
    <li>Details of your property, such as location, size, price</li>
    <li>Details of your financial circumstances, e.g. income, debts</li>
    <li>Information about your personal preferences and interests</li>
    <li>Information about your internet usage, e.g. IP address, browser type and search queries</li>
    <li>Information about your use of our services, such as information about how you contact us, your payment history and your use of our website</li>
    <li>Information about your use of social media, such as Facebook, Twitter or Instagram, if you follow or interact with us there</li>


    <h2>2. How do we use your data?</h2>
    <p>We use your data for the following purposes:</p>
    <li>To provide and improve our services: We use your data to provide you with our services and to continually improve them. For example, we use your contact details to send you information about our services or to respond to your enquiries and comments.</li>
    <li>Providing customer service: We use your information to provide you with the best possible customer service. For example, we use your contact details to respond to your enquiries and comments.</li>
    <li>Analysis and research: We use your data to analyse our services and website and to produce reports on the use of our services. This helps us to continually improve our services and website.</li>
    <li>Security: We use your data to ensure the security of our services and website. For example, we use your data to detect and prevent fraud and other security risks.</li>
    <li>Communication: We use your data to communicate with you. For example, we use your contact information to send you information about our services or to respond to your enquiries and comments.</li>
    <li>Advertising and marketing: We use your data for advertising and marketing purposes. For example, we use your data to send you information about our services and offers. However, we will only use your data if you have given us your express consent to do so.</li>
    <li>Legal purposes: We use your data to fulfil our legal and contractual obligations. For example, we use your data to send you information about changes to our services or to respond to your enquiries and comments.</li>


    <h2>3. On what legal basis do we process your data?</h2>
    <p>We process your data based on one or more of the following legal bases:</p>
    <li>Your consent: We process your data with your explicit consent. For example, by submitting a contact form, you consent to us using your information to respond to your request. You can withdraw your consent at any time.</li>
    <li>Fulfilment of our contractual obligations: We process your data to fulfil our contractual obligations to you. For example, we process your data to provide you with the service you have booked.</li>
    <li>Fulfilment of our legal obligations: We process your data to comply with our legal obligations. For example, we are required by law to hold certain data for tax purposes.</li>
    <li>Legitimate interests: We process your data to protect our legitimate interests. For example, we use your data to analyse our services and website and to produce reports on the use of our services.</li>


    <h2>4. How long will your data be stored?</h2>
    <p>We will retain your data for as long as is necessary to fulfil the purposes set out in this privacy notice or to comply with any legal or contractual obligations.</p>


    <h2>5. how do we protect your data?</h2>
    <p>We take appropriate technical and organisational measures to protect your data from loss, misuse or unauthorised access.</p>
    <p>What rights do you have in relation to your data?</p>
    <p>You have the right to obtain information about the data we hold about you at any time. In addition, you have the right to request the correction, deletion or restriction of the processing of your data. You can revoke your consent to the processing of your data at any time.</p>
    <p>If you have any questions or comments about this privacy policy, you can contact us at any time. You will find our contact details at the end of this statement.</p>


    <h2>7. Changes to this data protection declaration</h2>
    <p>We reserve the right to change this privacy policy at any time. The current version is always available on our website.</p>


    <h2>8. Contact</h2>
    <p>If you have any questions or comments about this privacy statement, please feel free to contact us at any time.</p>
    <br>
    <h3>Salus Real Estate</h3>
    {{!-- <h3>Contact person:  </h3> --}}
    <h3>Address: Musterstrasse 1, 12345 Musterstadt</h3>
    {{!-- <h3>Telephone: +49 (0) 123 4567890</h3> --}}
    <h3>E-mail: info@salusrealestate.com</h3>
    <br>
</div>