{{>navbar}}
<div class="headerMobile">
    <h1> Terms and Conditions </h1>
</div>
<div class="headerDesktop">
    <section class="outter option1">
        <section class="video-container">
        <img class = "video" src="./images/pp.jpeg">
        <div class="callout">
            <div class="desc" >OUR TERMS & CONDITIONS</div>
        </div>
        </section>
    </section>
</div>
<div class="legalInfo">
    <h1>Terms and Conditions</h1>
    <h2>1. General</h2>
    <p>1.1 Salus Real Estate (hereinafter: "Salus Real Estate" or "Agency") is an online real estate agency.</p>
    <p>1.2 Salus Real Estate provides an internet platform (hereinafter: "platform") on which real estate agents (hereinafter: "agents") can publish their real estate offers (hereinaUer: "offers").</p>
    <p>1.3 These General Terms and Conditions (hereinafter: "GTC") govern the use of the platform as well as the rights and obligations of the contractual partners.</p>
    <p>1.4 The contractual partners within the meaning of these GTC are the Agency and the Broker.</p>
    <p>1.5 By accepting these GTC, the broker declares that he is aware of the legal obligations of a broker under the Real Estate Brokerage Act (Immobilienmaklergesetz - IMMOBILIENGESETZ).</p>

    
    <h2>2. Validity of the general terms and conditons</h2>
    <p>    2.1 The following General Terms and Conditions shall apply exclusively to the entire business relationship between the Agency and the Broker in the version valid at the time of the order. Any deviating terms and conditions of the Broker shall not be recognised unless the Agency has expressly agreed to their validity in writing.</p>
    <p>    2.2 The Agency shall offer the Broker the opportunity to publish his offers on the platform.</p>
    <p>    2.3 The Broker may use the platform to post, modify or delete offers.</p>
    <p>    2.4 The Agency reserves the right to change or discontinue the Platform at any time.</p>


    <h2>3. Registraton and use of the platform</h2>
    <p>    3.1 Prerequisite for the use of the platform is a registration by the Broker. </p>
    <p>    3.2 Registration is free of charge.</p>
    <p>    3.3 A valid e-mail address is required for registration. After successful registration, the broker will receive a confirmation e-mail from the agency.</p>
    <p>    3.4 By registering, the Broker grants the Agency permission to store and process his personal data.</p>
    <p>    3.5 The Broker is obliged to store his access data (user name and password) carefully and to protect them from access by third parties.</p>
    <p>    3.6 The broker is liable for all activities carried out via his access to the platform.</p>
    <p>    3.7 The Broker is obliged to inform the Agency immediately of any suspicion of misuse of his access data.</p>


    <h2>4. Offers</h2>
    <p>    4.1 When placing an offer on the platform, the Broker is obliged to comply with the statutory provisions.</p>
    <p>    4.2 In particular, the Broker is obliged to ensure that the offer does not violate applicable law and does not infringe the rights of third parties.</p>
    <p>    4.3 The Broker is obliged to describe the offer completely and truthfully.</p>
    <p>    4.4 The Agency reserves the right to review and, if necessary, delete offers.</p>
    <p>    4.5 The Agency shall be entitled to edit or change offers to the extent necessary to comply with legal requirements.</p>
    <p>    4.6 The Broker shall not be entitled to have his Offer published.</p>
    <p>    4.7 The Broker is obliged to inform the Agency immediately of any changes to the offer.</p>
    <p>    4.8 The Broker has no right to the publication of changes to the offer.</p>
    <p>    4.9 The Broker is obliged to inform the Agency immediately of the termination of the offer.</p>
    <p>    4.10. The Agency shall be entitled to delete the offer at any time after termination.</p>


    <h2>5. Brokerage commission</h2>
    <p>    5.1 The Agency shall receive a commission of 3% of the purchase price for the brokerage of a property offer.</p>
    <p>    5.2 The Agency shall be entitled to change the brokerage commission at any time.</p>
    <p>    5.3 The broker shall not be entitled to payment of the brokerage commission insofar as the broker has concluded the offer himself.</p>


    <h2>6. Liability</h2>
    <p>    6.1 The Agency shall not be liable for any damages arising from the use of the platform.</p>
    <p>    6.2 The Agency shall not be liable for damages arising from the use of offers.</p>
    <p>    6.3 The Agency shall not be liable for damages caused by the unavailability of the platform.</p>
    <p>    6.4 The Agency shall not be liable for damages caused by errors in offers.</p>
    <p>    6.5 The Agency shall not be liable for damages resulting from the dele]on or modification of offers.</p>
    <p>    6.6 The Agency shall not be liable for damages caused by the unavailability or non-actuality of offers.</p>
    <p>    6.7 The Agency shall not be liable for damages arising from the registration or use of the platform by the Broker.</p>
    <p>    6.8 The Agency shall not be liable for damages caused by the use of access data by third parties.</p>
    <p>    6.9 The Agency shall not be liable for damage caused by the unavailability or non-actuality of informa]on on the platform.</p>
    <p>    6.10. The Agency is not liable for damages caused by the use of the platform or the offers by third parties.</p>


    <h2>7. Right of withdrawal</h2>
    <p>    7.1 The Broker has the right to revoke his registra]on at any time.</p>
    <p>    7.2 The broker has the right to revoke his offer at any time.</p>
    <p>    7.3 The broker has the right to revoke his consent to the publication of his offer at any time.</p> 


    <h2>8. Termination</h2>
    <p>    8.1 The Agency is entitled to terminate the Broker's registration at any time.</p>
    <p>    8.2 The Agency shall be entitled to terminate the Broker's use of the platform at any time.</p>


    <h2>9. Severability clause</h2>
    <p>    9.1 Should individual provisions of these GTC be invalid, this shall not affect the validity of the remaining provisions.</p>
</div>



