<div class="container">
    <div class = "foreground">    
        <h1 id="catalog"> Apple Watch </h1>
            <div class="optionsTableCards">
                <div class='row'>
                  <div class="optionsItem">
                    <a href="/AWS8">
                      <img src="./images/AWS8.jpg">
                      <h2 >Series 8</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/AWU">
                      <img src="./images/AWU.jpg">
                      <h2>Ultra</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/AWSE">
                      <img src="./images/AWSE.jpg">
                      <h2>SE</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                </div>
            </div>  
        </div>
    </div>
</div>


