<body>
    <div class="container">
        {{!-- <div class = "foreground">
            <h1 id="suggestions">Рекомендации</h1>
            {{> suggestions}}
            <br>
        </div> --}}
        <br><br>
        <div class = "foreground">    
            <h1 id="catalog"> Каталог </h1>
            <div class="optionsTableCards">
              <div class='row'>
                  <div class="optionsItem">
                    <a href="/iPhone">
                      <img src="./images/iphone.jpg">
                      <h2 >iPhone</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/mac">
                      <img src="./images/mac.jpg">
                      <h2>Mac</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/watch">
                      <img src="./images/watch.jpg">
                      <h2>Watch</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                </div>
            </div>
            <div class="optionsTableCards">
              <div class='row'>
                  <div class="optionsItem">
                    <a href="/iPad">
                      <img src="./images/iPad.jpg">
                      <h2 >iPad</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/airpods">
                      <img src="./images/airpods.jpg">
                      <h2>AirPods</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/accessories">
                      <img src="./images/accessories.jpg">
                      <h2>Аксессуары</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                </div>
            </div>  
        </div>
       <br><br>
      
        
        <div class = "foreground">
          <h1 id="about"> Информация </h1> 
          {{> about}}
        </div>
         <br><br><br><br><br><br>
    </div>
    {{!-- {{> license}} --}}


</body>