<body>
    <script>
        
        var color = "Space Gray";
        window.onload = function () {
            e_iPad9();
        }

        function e_iPad9(){

            const memories = ['Wi-Fi 64 GB', 'Wi-Fi 256 GB', 'Wi-Fi+LTE 64 GB', 'Wi-Fi+LTE 256 GB'];
            const prices = [25990, 28990, 26990, 35990];

            let inputId = " ";
            let labelId = " ";
            
            for (let j = 0; j < memories.length; j++)
            {
                inputId = 'iPad 9 ' + memories[j];
                document.getElementById(inputId).value = prices[j];
            }
            for (let j = 0; j < memories.length; j++)
            {
                labelId = ('iPad9 ' + memories[j]);
                document.getElementById(labelId).innerHTML += (prices[j] + "₽");
            }
        }

        function addFunciPad9() {
            const deviceiPad9 = new Device (
                document.querySelector('input[name="iPad_9"]:checked ').id,
                document.querySelector('input[name="iPad_9"]:checked').value,
                color
            );
            arr.push(deviceiPad9);
                    
            localStorage.setItem("my_models", JSON.stringify(arr));
            alert("Товар добавлен в корзину");
        }

        function changeColor(x) {
            if(x == "Space Gray") 
            {
                color = "Space Gray"
                document.getElementById('iPad9_photo').src = "./images/iPad/iPad9/iPad9SG.jpg";
                return color;
            }
            
            else if(x == "Silver") 
            {
                color = "Silver"
                document.getElementById('iPad9_photo').src = "./images/iPad/iPad9/iPad9SL.jpg";
                return color;
            }
            
            else 
            {
                color = "Space Gray"
                document.getElementById('iPad9_photo').src = "./images/iPad/iPad9/iPad9SL.jpg";
                return color;
            }
        }
    </script>

    <div class="container">
        <div class = "foreground">    
            <h1 id="catalog"> iPad (9th. gen)</h1>

            <div class="item_wide_mac" >
                <div class="row">
                    <div class="column">
                        <img id="iPad9_photo" src="./images/iPad/iPad9/iPad9SG.jpg" >
                    </div>
                    <div class="column">
                        <div class="title">
                            <h2>Цвет</h2>
                        </div>
                        <ul name="color" class="colorPicker">
                            <li>
                                <input type="radio" name="iPad9" id="Space Gray" value="Space Gray" onclick="changeColor('Space Gray')" checked>
                                <label for="Space Gray">
                                    <img src="./images/colors/finish-midnight-202209.jpeg">
                                    <span>Space Gray</span>
                                </label>
                            </li>
                            <br>
                            <li>
                                <input type="radio" name="iPad9" id="Silver" value="Silver" onclick="changeColor('Silver')">
                                <label for="Silver">
                                    <img src="./images/colors/macbook-silver-select-201810_SW_COLOR.jpeg">
                                    <span>Silver</span>
                                </label>
                            </li>
                            <br>
                        </ul>
                        

                        <form action=" " class="memory">
                            <div class="title">
                                <h2>Память</h2>
                            </div>
                            <div class="form_radio_btn">
                                <input id = "iPad 9 Wi-Fi 64 GB" type="radio" name="iPad_9"  checked>
                                <label id = "iPad9 Wi-Fi 64 GB" for="iPad Wi-Fi 9 64 GB"> Wi-Fi<br>64 GB  </label>
                            </div>
                            <div class="form_radio_btn">
                                <input id = "iPad 9 Wi-Fi 256 GB" type="radio" name="iPad_9" >
                                <label id = "iPad9 Wi-Fi 256 GB" for="iPad 9 Wi-Fi 256 GB"> Wi-Fi <br> 256 GB  </label>
                            </div>

                            <br><br>

                            <div class="form_radio_btn">
                                <input id = "iPad 9 Wi-Fi+LTE 64 GB" type="radio" name="iPad_9" >
                                <label id = "iPad9 Wi-Fi+LTE 64 GB" for="iPad 9 Wi-Fi+LTE 64 GB"> Wi-Fi+LTE 64 GB  </label>
                            </div>
                            <div class="form_radio_btn">
                                <input id = "iPad 9 Wi-Fi+LTE 256 GB" type="radio" name="iPad_9" >
                                <label id = "iPad9 Wi-Fi+LTE 256 GB" for="iPad 9 Wi-Fi+LTE 256 GB"> Wi-Fi+LTE 256 GB  </label>
                            </div>
                        </form>
                        <br><br>
                        <div class="addButton">
                            <button onclick="addFunciPad9()">Добавить в корзину</button>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>