<div class="container">
    <div class = "foreground">    
        <h1 id="catalog"> iPad </h1>
            <div class="optionsTableCards">
                <div class='row'>
                  <div class="optionsItem">
                    <a href="/iPadAir">
                      <img src="./images/ipadair.jpg">
                      <h2 >iPad Air</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/iPadPro11">
                      <img src="./images/ipadpro11.jpg">
                      <h2>iPad Pro 11'</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/iPadPro12">
                      <img src="./images/ipadpro12.jpg">
                      <h2>iPad Pro 12,9'</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                </div>
                <div class='row'>
                  <div class="optionsItem">
                    <a href="/iPadMini">
                      <img src="./images/ipadmini.jpg">
                      <h2 >iPad mini</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/iPad9">
                      <img src="./images/ipad9.jpg">
                      <h2>iPad 9</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  
                </div>
            </div>  
        </div>
    </div>
</div>


