<div class="container">
    <div class = "foreground">    
        <h1 id="catalog"> iPhone </h1>
            <div class="optionsTableCards">
                <div class='row'>
                  <div class="optionsItem">
                    <a href="/iPhone14">
                      <img src="./images/iPhone14.jpg">
                      <h2 >iPhone 14</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/iPhone14Pro">
                      <img src="./images/iPhone14Pro.jpg">
                      <h2>iPhone 14 Pro</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/iPhone14ProMax">
                      <img src="./images/iPhone14ProMax.jpg">
                      <h2>iPhone 14 Pro Max</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                </div>
                <div class='row'>
                  <div class="optionsItem">
                    <a href="/iPhone14Plus">
                      <img src="./images/iPhone14Plus.jpg">
                      <h2 >iPhone 14 Plus</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/iPhone13">
                      <img src="./images/iPhone13.jpg">
                      <h2>iPhone 13</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/iPhoneSE">
                      <img src="./images/iPhoneSE.jpg">
                      <h2>iPhone SE</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                </div>
            </div>  
        </div>
    </div>
</div>