

<div class="container">

  <div class="loginPage">
    <form class="go-bottom" id="#auth" action="/registration" method="post">
      <br>
      <h2>Заполните данные, чтобы зарегистрироваться</h2>
      <div>
          <input id="username" name="username" type="text" required>
          <label for="username"> Email </label>
      </div>
      <div>
        <input id="password" name="password" type="text" required>
        <label for="password"> Пароль </label>
      </div>
      <div>
        <input id="name" name="name" type="text" required>
        <label for="name"> Имя </label>
      </div>
      <div>
        <input id="tel" name="tel" type="text" required>
        <label for="tel"> Телефон </label>
      </div>
      <br>
      <input class="nxt_stp_btn" type="submit" value="Продолжить">  
    </form>

  </div>
</div>