<div class="container">
    <div class = "foreground">    
        <h1 id="catalog"> Компьютеры Mac </h1>
            <div class="optionsTableCards">
                <div class='row'>
                  <div class="optionsItem">
                    <a href="/MBAM2">
                      <img src="./images/MBAM2.jpg">
                      <h2 >MacBook Air (M2)</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/MBP14">
                      <img src="./images/MBP14.jpg">
                      <h2>MacBook Pro 14'</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/MBP16">
                      <img src="./images/MBP16.jpg">
                      <h2>MacBook Pro 16'</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                </div>
                <div class='row'>
                  <div class="optionsItem">
                    <a href="/MBAM1">
                      <img src="./images/MBAM1.jpg">
                      <h2>MacBook Air (M1) </h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/MBP13">
                      <img src="./images/MBP13.jpg">
                      <h2>MacBook Pro 13' (M2)</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                  <div class="optionsItem">
                    <a href="/otherMac">
                      <img src="./images/imac.jpg">
                      <h2>Другие Mac</h2>
                      {{!-- <p>Lorem ipsum dolor, cumque ullam dolorum blanditiis.</p> --}}
                    </a>
                  </div>
                </div>
            </div>  
        </div>
    </div>
</div>