<body>
    <script>
        
        var color = "Space Gray";
        window.onload = function () {
            e_MBAM1();
        }

        function e_MBAM1(){

            const memories = ['256 GB', '512 GB'];
            const prices = [75990, 88990];

            let inputId = " ";
            let labelId = " ";
            
            for (let j = 0; j < memories.length; j++)
            {
                inputId = 'MacBook Air M1 ' + memories[j];
                document.getElementById(inputId).value = prices[j];
            }
            for (let j = 0; j < memories.length; j++)
            {
                labelId = ('MBAM1 ' + memories[j]);
                document.getElementById(labelId).innerHTML += (prices[j] + "₽");
            }
        }

        function addFuncMBAM1() {
            const deviceMBAM1 = new Device (
                document.querySelector('input[name="MBA_1"]:checked ').id,
                document.querySelector('input[name="MBA_1"]:checked').value,
                color
            );
            arr.push(deviceMBAM1);
                    
            localStorage.setItem("my_models", JSON.stringify(arr));
            alert("Товар добавлен в корзину");
        }

        function changeColor(x) {
            if(x == "Space Gray") 
            {
                color = "Space Gray"
                document.getElementById('MBAM1_photo').src = "./images/Mac/MBAM1/MBAM1SG.jpg";
                return color;
            }
            else if(x == "Gold") 
            {
                color = "Gold"
                document.getElementById('MBAM1_photo').src = "./images/Mac/MBAM1/MBAM1GL.jpg";
                return color;
            }
            else if(x == "Silver") 
            {
                color = "Silver"
                document.getElementById('MBAM1_photo').src = "./images/Mac/MBAM1/MBAM1SL.jpg";
                return color;
            }
            else 
            {
                color = "Space Gray"
                document.getElementById('MBAM1_photo').src = "./images/Mac/MBAM1/MBAM1SG.jpg";
                return color;
            }
        }
    </script>

    <div class="container">
        <div class = "foreground">    
            <h1 id="catalog"> MacBook Air M1 </h1> 
            <div class="item_wide_mac">
                <div class="row">
                    <div class="column">
                        <img class="mac_photo" id="MBAM1_photo" src="./images/Mac/MBAM1/MBAM1SG.jpg" >
                    </div>
                    <div class="column">
                        <div class="title">
                            <h2>Цвет</h2>
                        </div>
                        <ul name="color" class="colorPicker">
                            <li>
                                <input type="radio" name="MBAM1" id="Space Gray" value="Space Gray" onclick="changeColor('Space Gray')" checked>
                                <label for="Space Gray">
                                    <img src="./images/colors/macbook-spacegray-select-20220606_SW_COLOR.jpg">
                                    <span>Space Gray</span>
                                </label>
                            </li>
                            <br>
                            <li>
                                <input type="radio" name="MBAM1" id="Gold" value="Gold" onclick="changeColor('Gold')">
                                <label for="Gold">
                                    <img src="./images/colors/macbook-gold-select-201810_SW_COLOR.jpg">
                                    <span>Gold</span>
                                </label>
                            </li>
                            <br>
                            <li>
                                <input type="radio" name="MBAM1" id="Silver" value="Silver" onclick="changeColor('Silver')">
                                <label for="Silver">
                                    <img src="./images/colors/macbook-silver-select-201810_SW_COLOR.jpeg">
                                    <span>Silver</span>
                                </label>
                            </li>
                            <br>
                        </ul>
                        

                        <form action=" " class="mac_mem">
                            <div class="title">
                                <h2>Конфигурация</h2>
                            </div>
                            <div class="form_radio_btn">
                                <input id = "MacBook Air M1 256 GB" type="radio" name="MBA_1"  checked>
                                <label id = "MBAM1 256 GB" for="MacBook Air M1 256 GB"> 8CPU/7GPU 256 GB  </label>
                            </div>
                                    
                                    
                            <div class="form_radio_btn">
                                <input id = "MacBook Air M1 512 GB" type="radio" name="MBA_1" >
                                <label id = "MBAM1 512 GB"  for="MacBook Air M1 512 GB"> 8CPU/8GPU 512 GB  </label>
                            </div>
                        </form>
                        <br><br><br>
                        <div class="addButton">
                            <button onclick="addFuncMBAM1()">Добавить в корзину</button>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>