<div class="container">
    <div id="popup2">
            <div class="popup">
                <h1 class="site-header__title" data-lead-id="site-header-title">Заказ принят!</h1>
                <img src="/images/popup2.png">
                <h6 class="site-footer__fineprint" id="fineprint">Наши операторы скоро с Вами свяжутся.</h6>
                <h6>Спасибо, что выбрали нас! </h6>
                <a href="/"><button>На главную</button></a>

            </div>
        
        </div>

</div>